body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: cadetblue;
}

header{
    text-align: center ;
    margin-bottom: 30px;
}
main {
  display: flex;
  flex-wrap: wrap;
  height: 1024px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card {
  background-color: rgb(226, 214, 200);
  border: solid 1px #cccccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  height: 300px;
}

h2 {
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
  color: #333333;
}
